.VerifyPhone {
  background: #85b1cc;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 10vh 15vw;
}

.leftWrapper {
  background: #c3d8e6;
  position: relative;
  width: 50%;
  max-height: 100%;
  display: flex;
  align-items: center;
  border-radius: 25px 0 0 25px;
}

.airBalloon {
  width: 75%;
  z-index: 5;
  margin-left: 15%;
}

.rightWrapper {
  width: 50%;
  background: white;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  padding: 10vh 5vh;
  position: relative;
  z-index: 10;
  max-height: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: 75%;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4vh;
}

.inputUnit {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1vh;
  position: relative;
}

.inputTitle {
  font-size: 1.2rem;
  color: black;
}

.inputContent {
  border-radius: 10px;
  border: none;
  padding: 1.2vh 1.4vw;
  background: #e2e2e2;
  color: black;
  font-size: 1rem;
}

.showPasswordButton {
  position: absolute;
  width: 1.6vw;
  top: 6.3vh;
  right: 3%;
}

.getCodeButton {
  background: #85b1cc;
  color: white;
  border-radius: 6px;
  line-height: 5vh;
  margin-top: 1.2vh;
  margin-bottom: 1vh;
  width: 45%;
  font-size: 1.2rem;
}

.submitButton {
  background: #85b1cc;
  color: white;
  border-radius: 6px;
  line-height: 5vh;
  margin-top: 1.2vh;
  margin-bottom: 1vh;
  width: 45%;
  font-size: 1.2rem;
}

.middleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

.text {
  color: black;
}

.text a {
  color: #85b1cc;
}

.line {
  width: 50%;
  border: solid 0.5px lightgrey;
}

.bottomWrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomWrapper a {
  color: #85b1cc;
  font-size: 0.9rem;
}
