.SignUp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 60px 80px;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.container {
  border: solid 1.5px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 60px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputUnit {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputTitle {
  font-size: 20px;
}

.inputContent {
  border: solid 1px black;
  border-radius: 5px;
}

.submitButton {
  background: black;
  color: white;
  border-radius: 6px;
  line-height: 40px;
  margin-top: 15px;
}

.middleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.text {
}

.line {
  width: 50%;
  border: solid 0.5px lightgrey;
}

.kakaoLogin {
  background: #f9e000;
  color: white;
  border-radius: 6px;
  line-height: 40px;
}

.naverLogin {
  background: #03c75b;
  color: white;
  border-radius: 6px;
  line-height: 40px;
}
