.LogIn {
  background: #85b1cc3b;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 10vh 15vw;
}

.leftWrapper {
  background: #c3d8e6;
  position: relative;
  width: 50%;
  max-height: 100%;
  display: flex;
  align-items: center;
  border-radius: 25px 0 0 25px;
}

.airBalloon {
  width: 75%;
  z-index: 5;
  margin-left: 15%;
}

.rightWrapper {
  width: 50%;
  background: white;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding: 6.5vh 5vh;
  position: relative;
  z-index: 10;
  max-height: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: 75%;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6vh;
}

.inputUnit {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1vh;
  position: relative;
}

.inputTitle {
  font-size: 1.2rem;
  color: black;
}

.inputContent {
  border-radius: 10px;
  border: none;
  padding: 1.2vh 1.4vw;
  background: #e2e2e2;
  color: black;
  font-size: 1rem;
}

.showPasswordButton {
  position: absolute;
  width: 1.6vw;
  top: 6.3vh;
  right: 3%;
}

.submitButton {
  background: #85b1cc;
  color: white;
  border-radius: 6px;
  line-height: 5vh;
  margin-top: 1.2vh;
  margin-bottom: 1vh;
  width: 45%;
  font-size: 1.2rem;
}

.middleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin-top: 3%;
  align-items: center;
  width: 100%;
}

.signup-forgot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.text-signup {
  color: black;
  font-weight: 600;
}

.text {
  font-weight: 600;
}

.text a,
.text-signup a {
  color: #71a9cc;
}

.middle-line {
  height: 70%;
  width: 1px;
  background-color: lightgrey;
}

.forgot-password:hover {
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
}

.middle-line {
}

/* .line {
  width: 50%;
  border: solid 0.5px lightgrey;
} */

.socialWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2vw;
  width: 95%;
}

.socialWrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: brightness(96%);
}
