.background {
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  /* margin: auto; */
  /* margin-top: 0.5%;
  margin-bottom: 0.5%; */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.text {
  text-align: center;
  color: white;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3.5rem;
}

.createCourse {
  width: 25%;
  background: #85b1cc;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  line-height: 6vh;
  text-align: center;
}
