.MainPage {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  background: white;
}

.MainPage section {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  position: relative;
  border: solid 3px white;
  /* border: solid 3px #85b1cc; */
  border-radius: 15px;
}

.topWrapper {
  background: #c3d8e6;
  width: 100%;
  height: 40vh;
  border-radius: 0 0 50% 0;
  position: relative;
  display: flex;
  align-items: end;
}
.topWrapper img {
  position: relative;
  left: -7.5vw;
  width: 35vw;
}

.topWrapperReverse {
  background: #c3d8e6;
  width: 100%;
  height: 40vh;
  border-radius: 0 0 0 50%;
  position: relative;
  display: flex;
  align-items: end;
}
.topWrapperReverse img {
  position: relative;
  right: -7.5vw;
  width: 35vw;
}

.title {
  position: relative;
  left: -5vw;
  font-size: 3.5rem;
  font-weight: 650;
  width: 100%;
}
.titleReverse {
  position: relative;
  right: -7.5vw;
  font-size: 3.5rem;
  font-weight: 650;
  width: 100%;
  text-align: end;
}

.container {
  padding: 2.5vh 1.5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5vw;
  position: relative;
}

.link {
  font-size: 1.8rem;
  color: #85b1cc;
  white-space: nowrap;
  position: relative;
  right: 2vw;
}
.linkReverse {
  font-size: 1.8rem;
  color: #85b1cc;
  white-space: nowrap;
  position: relative;
  left: 2vw;
}
