.MainPage {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  background: white;
}

.MainPage section {
  width: 90%;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  position: relative;
  /* border: solid 3px blue; */
  /* border: solid 3px #85b1cc; */
  border-radius: 15px;
  background: rgb(232, 242, 246);
}

.topWrapper {
  /* background: #c3d8e6; */
  background-color: white;
  width: 100%;
  height: 40vh;
  border-radius: 0 0 50% 0;
  position: relative;
  display: flex;
  align-items: end;
}

.wrapper {
  width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  position: relative;
  left: -5vw;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
}

.container {
  width: 100%;
  padding: 2.5vh 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5vw;
  position: relative;
}

.link {
  font-size: 1.25rem;
  color: #85b1cc;
  white-space: nowrap;
  position: relative;
  right: 2vw;
}
