.MainPage {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  margin-bottom: 8vh;
  background: white;
}

.MainPage section {
  width: 92%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: relative;
  border: solid 3px white;
  border-radius: 15px;
  padding: 3vh 5vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5%;
  width: 100%;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.link:hover {
  color: #3287bb;
  font-size: 1.05rem;
}

.container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  /* padding: 2% 2.5vw; */
  margin: auto;
}

.read-more-container {
  border: 1px solid #e6ebf2;
  border: 1px solid rgb(96, 96, 96);
  width: 15%;
  height: 2.5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}

.read-more-container:hover {
  color: white;
  background-color: #85b1cc;
  border: none;
}

.read-more {
  font-size: 1rem;
}
