.MainPage {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  background: white;
}

.MainPage section {
  width: 92%;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border-radius: 15px;
  /* background: rgb(232, 242, 246); */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.5%;
  width: 100%;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
}

.link {
  font-size: 1rem;
  color: #85b1cc;
  margin-left: 0%;
  left: 20;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.link:hover {
  color: #3287bb;
  font-size: 1.05rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw;
  padding: 2% 5vw;
}
