.Chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  color: black;
}

.messageHeader {
  display: flex;
  align-items: center;
  padding: 1.4vh;
  font-size: 0.8em;
  color: #555;
  gap: 1vw;
  background: #c3d8e6;
}

.opponentProfile {
  width: 8vh;
  height: 8vh;
  border-radius: 10px;
}

.opponentName {
  font-size: 1.2rem;
  font-weight: 550;
  width: 100%;
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8vh;
  width: 5vw;
  height: 5vh;
  cursor: pointer;
}

.dot {
  width: 0.8vh;
  height: 0.8vh;
  border-radius: 100%;
  background: white;
}

.messages {
  flex: 1;
  padding: 1vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.messageFooter {
  padding: 1.2vh 1vw;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.messageFooter input {
  border-radius: 10px;
  padding: 0 1vw;
  width: 100%;
}

.messageFooter button {
  width: 11vw;
  padding: 0.8vw;
  border: none;
  border-radius: 10px;
  background-color: #c3d8e6;
  color: white;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.messageFooter button:hover {
  background-color: #85b1cc;
}
