.each-course-container {
  border: 1px solid #bbbdbe;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.each-course-container-active {
  background-color: rgb(249, 249, 249);
}

.show-course {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
}

.show-detail {
  width: 100%;
  padding: 2%;
}

.show-detail-memo {
  width: 100%;
  height: 10rem;
  border: 1px solid #bbbdbe;
  overflow-y: auto;
  padding: 1%;
}

.course-name {
  width: 30%;
}

.course-period {
  width: 30%;
}

.course-posted-date {
  width: 20%;
}

.course-icons-container {
  width: 15%;
}

.course-name,
.course-period,
.course-posted-date,
.course-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-icons-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.edit-icon,
.bin-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.image-conatiner:hover {
  padding: 5%;
  background-color: rgba(196, 222, 239, 0.525);
  border-radius: 40%;
}
