.empty-course-container {
  font-family: var(--font-family);
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 5%;
  min-height: 100vh;
}

.empty-icon {
  width: 70px;
  height: 70px;
}

.redirect-course-button {
  background-color: white;
  color: black;
  width: 17%;
  height: 2.5rem;
  padding: 0.8%;
  border-radius: 10px;
  border: 1px solid #e6ebf2;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirect-course-button:hover {
  background-color: #85b1cc;
  color: white;
}
