.my-course-container {
  width: 100%;
  font-family: var(--font-family);
}

.course-button-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  margin-top: 2%;
}

.course-button {
  background-color: white;
  color: black;
  width: 10%;
  padding: 0.8%;
  border-radius: 10px;
  border: 1px solid #e6ebf2;
  font-size: 0.9rem;
  font-weight: 500;
}

.course-button:hover {
  background-color: #85b1cc;
  color: white;
}

.courses-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20px;
}
