.my-course-container {
  width: 100%;
  font-family: var(--font-family);
  min-height: 100vh;
}

.upArrow-container {
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid rgb(104, 104, 104);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  left: 95%;
  top: 42%;
  z-index: 900;
  background-color: white;
}

.upArrow-word {
  font-size: 0.8rem;
  font-weight: 700;
}

.upArrow-icon {
  width: 18px;
  height: 18px;
}

.upArrow-container:hover {
  background-color: rgb(249, 249, 249);
}

.course-button-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 4%;
  margin-top: 2%;
}

.course-button {
  background-color: white;
  color: black;
  width: 10%;
  padding: 0.8%;
  margin-left: 5%;
  border-radius: 10px;
  border: 1px solid #e6ebf2;
  font-size: 0.9rem;
  font-weight: 500;
}

.course-button:hover {
  background-color: #85b1cc;
  color: white;
}

.courses-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20px;
}
