.message {
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
}

.topWrapper {
  display: flex;
}

.message .profile {
  border-radius: 100%;
  width: 4.5vh;
  height: 4.5vh;
}

.message .name {
}

.message .bottomWrapper {
  display: flex;
}

.myMessage {
  display: flex;
  gap: 0.6vh;
  justify-content: end;
  flex-direction: row-reverse;
}

.myMessage .profile {
  border-radius: 100%;
  width: 4.5vh;
  height: 4.5vh;
}

.myMessage .name {
}

.myMessage .bottomWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.content {
  font-size: 1rem;
  font-weight: 450;
  color: #333;
  border-radius: 10px;
  width: fit-content;
  padding: 0.5vh 1.2vh;
  background-color: #c3d8e6;
}

.timestamp {
  font-size: 0.8rem;
  align-self: flex-end;
  color: darkgray;
}
