.SignUp {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 60px 80px;
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: black;
}

.container {
  border: solid 1.5px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 60px;
  position: relative;
}

.inputUnit {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputTitle {
  font-size: 20px;
  color: black;
}

.inputContent {
  border: solid 1px black;
  border-radius: 5px;
}

.inputImageContent {
  width: 75px;
}

.submitButton {
  background: black;
  color: white;
  border-radius: 6px;
  line-height: 40px;
}
